body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}

section {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 5px;
    width: 250px;
}

img {
    width: 100%;
}

button {
    margin: 10px;
}